
<%- include('../partial/header') %>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <%- include('../partial/sidebar',{user:user, menu: "change_password"}) %>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <%- include('../partial/topbar',{user:user, menu: "change_password"}) %>
                    <div class="container-fluid">
                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">Ubah Password</h1>
                        <hr>
                        <% if (message_success != "") { %>
                            <div class="alert alert-success">
                                <%= message_success %>
                            </div>
                            <% } %>
                                <% if (message_fail != "") { %>
                                    <div class="alert alert-danger">
                                        <%= message_fail %>
                                    </div>
                                    <% } %>
                                        <% if (message_warning != "") { %>
                                            <div class="alert alert-warning">
                                                <%= message_warning %>
                                            </div>
                                            <% } %>
                                                <form id="change_password_form" action="/panels/change_password/changePass">
                                                    <input type="hidden" name="id_panel_users" id="idpanel" value=<%- user.id %> />
                                                    <div class="form-group">
                                                        <label for="oldpassword"><b>Old Password</b></label>
                                                        <input id="oldpassword" type="password" name="old_password" class="form-control" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="newpassword"><b>New Password</b></label>
                                                        <input id="newpassword" type="password" name="new_password" class="form-control" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="confirmpassword"><b>Confirm New Password</b></label>
                                                        <input id="confirmpassword" type="password" name="confirm_password" class="form-control" required>
                                                    </div>
                                                    <div id="errorMessage" class="form-group" style="color:red;"></div>
                                                    <input id="change_password_button" type="button" value="Submit" class="btn btn-success">
                                                </form>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <%- include('../partial/footer') %>
            </div>
            <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <%- include('../partial/javascript',{}); %>
        <script type="text/javascript">
            function posting(data) {
                $.ajax({
                    method: "POST",
                    url: data.url,
data: data.param
                }).done(data.done);
            }
            $(document).ready(function() {
                $("#change_password_button").click(function() {
                    $('#change_password_form').submit();
                })
                $("#change_password_form").submit(function(e) {
                    posting({
                        url: "/panels/change_password/changePass",
                        param: $("#change_password_form").serialize(),
                        done: function(res) {
                            if (res.status == "FAILED") {
                                $('#errorMessage').html("Please check your password again!")
                            } else if (res.status == "NOT MATCH") {
                                $('#errorMessage').html("New password do not match!")
                            } else if (res.status == "SUCCESS") {
                                alert(res.status);
                                window.location.href = "/panels/"
                            }
                        }
                    })
                    e.preventDefault();
                })
            });
        </script>
</body>
